In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("../Data/week5.csv",sep="[,;:]",index_col=False)

C:\Users\Bekalu\AppData\Local\Temp\ipykernel_15044\3861275819.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  df=pd.read_csv("../Data/week5.csv",sep="[,;:]",index_col=False)
C:\Users\Bekalu\AppData\Local\Temp\ipykernel_15044\3861275819.py:1: ParserWarning: Length of header or names does not match length of data. This leads to a loss of data with index_col=False.
  df=pd.read_csv("../Data/week5.csv",sep="[,;:]",index_col=False)

In [3]:
df.head()

,track_id,type,traveled_d,avg_speed,lat,lon,speed,lon_acc,lat_acc,time
0,1,Car,21.47,25.760048,37.977161,23.737857,27.3731,0.0155,0.2572,0.0
1,2,Car,31.16,28.042868,37.977271,23.737826,30.3702,0.0293,0.3996,0.0
2,3,Car,58.95,21.656154,37.977511,23.737657,21.8391,0.0033,-0.0418,0.0
3,4,Car,135.78,18.103987,37.978145,23.737125,0.0000,0.0000,0.0000,0.0
4,5,Car,133.94,20.090543,37.978132,23.737098,0.0000,0.0000,0.0000,0.0

In [4]:
len(df.columns)

10

In [5]:
df.shape

(777, 10)