In [2]:
import sys
import os
import pandas as pd
sys.path.append(os.path.abspath("../scripts/"))
#from datareader import DataReader
#import db_connector

In [4]:
df=pd.read_csv("../Data/week5.csv")

In [5]:
df

    track_id; type; traveled_d; avg_speed; lat; lon; speed; lon_acc; lat_acc; time
0    1; Car; 21.47; 25.760048; 37.977161; 23.737857...
1    2; Car; 31.16; 28.042868; 37.977271; 23.737826...
2    3; Car; 58.95; 21.656154; 37.977511; 23.737657...
3    4; Car; 135.78; 18.103987; 37.978145; 23.73712...
4    5; Car; 133.94; 20.090543; 37.978132; 23.73709...
..                                                 ...
772  773; Car; 44.31; 16.616416; 37.978371; 23.7354...
773  774; Car; 36.76; 17.413278; 37.978367; 23.7354...
774  775; Car; 27.26; 19.630527; 37.978369; 23.7354...
775  776; Motorcycle; 9.28; 12.846367; 37.978576; 2...
776  777; Taxi; 10.49; 17.171447; 37.978360; 23.735...

[777 rows x 1 columns]

In [8]:
df.dtypes

track_id; type; traveled_d; avg_speed; lat; lon; speed; lon_acc; lat_acc; time    object
dtype: object